{% extends 'base.html.twig' %}

{% block title %}Liste des membres - 	{{parent()}} {% endblock %}

{% block body %}

	<div class="container col-10 offset-1">

		<h1 class="text-center my-3">Liste des membres</h1>
		<table class="table border rounded list">
			<thead>
				<th>Pseudo</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Statut</th>
				<th>Numéro de session</th>
				<th>Année de session</th>
				<th>Avatar</th>

			</thead>

			<tbody>
				{% for user in users %}
					<tr>
						<td>
							<a href="{{ path('users_show', { pseudo:user.pseudo }) }}">{{user.pseudo}}</a>
						</td>
						<td>{{user.lastname}}</td>
						<td>{{user.firstname}}</td>
						<td>{{user.function}}</td>
						<td>{{user.sessionNumber}}</td>
						<td>{{user.trainingYear}}</td>
						<td>
							{% if user.image != null %}
								<img class="avatar" src="{{ vich_uploader_asset(user.image) }}" alt="{{ user.email }}">
							{% else %}
								<img class="avatar" src="{{asset('/images/avatars/avatar_base.png')}}" alt="{{ user.email }}">
							{% endif %}
						</td>

					</tr>
				{% else %}
					<tr>

						<td colspan="5">
							il n'y a pas d'utilisateur inscrit
						</td>

					</tr>

				{% endfor %}
			</tbody>

		</table>
	</div>
{% endblock %}
